@mixin background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin overlay {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
}

@mixin stages {
    &:not(:last-child) {
        margin-bottom: 10px;
    }

    &:last-child {
        .stages-card {
            &::after {
                display: none;
            }
        }
    }

    &:nth-child(even) {
        .stages-card {
            &::before {
                background-color: $blue-100;
            }
        }
    }
}

@mixin small-title {
    font-weight: $fw-500;
    font-size: 19px;
    line-height: 1;
}

@mixin link {
    transition: color 0.4s,
    box-shadow 0.4s;

    &:focus {
        color: $purple-800;
        box-shadow: 0 0 0 1px $blue-800;
    }

    &:hover {
        color: $blue-800;
    }

    &:active {
        color: rgba($purple-800, 0.75);
    }
}

@mixin link-bg {
    border: 1px solid transparent;
    transition: background-color 0.3s,
    color 0.3s;

    &:focus {
        color: $blue-800;
        background-color: $white;
        border-color: $blue-800
    }

    &:hover {
        background-color: $blue-100;
    }

    &:active {
        color: $white;
        background-color: $blue-800;
    }
}

//Слайдер 
@mixin dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    display: flex;
    justify-content: center;
    transform: translateX(-50%);

    .slick-active {
        button {
            background-color: $blue-800;
            cursor: initial;

            &:focus {
                border-color: transparent;
            }

            &:hover,
            &:active {
                background-color: $blue-800;
            }
        }
    }

    li {
        &:not(:last-child) {
            margin-right: 15px;
        }
    }

    button {
        width: 30px;
        height: 5px;
        font-size: 0;
        background-color: $light-100;
        border: 1px solid transparent;
        transition: border-color 0.4s, background-color 0.4s;

        &:focus {
            border-color: $blue-800;
        }

        &:hover {
            background-color: $blue-100;
        }

        &:active {
            background-color: rgba($purple-800, 0.75);
        }
    }
}

@mixin slick-disabled {
    background-color: rgba($dark-600, 0.4);
    cursor: initial;

    &:focus,
    &:active {
        border-color: transparent;
    }

    &:hover {
        background-color: rgba($dark-600, 0.4);

        .main-slider__icon {
            fill: $white;
        }
    }
}

@mixin arrow {
    position: absolute;
    top: 50%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 45px;
    background-color: $blue-100;
    transform: translateY(-50%);
    transition: border-color 0.4s,
    background-color 0.4s;

    &:focus {
        box-shadow: 0 0 0 1px $blue-800;
    }

    &:active {
        box-shadow: 0 0 0 1px $purple-800;
    }

    &--next {
        right: 279px;
    }

    &--prev {
        left: 279px;
    }
}

@mixin slick-icon {
    width: 20px;
    height: 25px;
    transition: fill 0.4s;
    fill: $light-100;
}