//Текст
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

//Цвета
$white: #ffffff;
$black: #000000;

$purple-800: #d645b6;  
$blue-800: #306ce1;
$blue-100: #dae4f9;

$dark-800: #2f2525;
$dark-600: #7e7e7e;

$light-200: #f6f6f6;
$light-100: #fefefe;

//Адаптив
// $xl: 1320;
// $lg: 992;
// $md: 767;
// $sm: 576;
// $lm: 470;
// $ml: 370;