<article class="stock-card stock-card--@view">
    <div class="stock-card__picture">
        <span class="stock-card__salary">
           - @salary-number %
        </span>
        <img class="stock-card__img" src="img/stock/@img-name.jpg" alt="@img-alt" width="380" height="200" loading="lazy">
    </div>
    <div class="stock-card__content">
        <h3 class="stock-card__title subtitle">
            @title
        </h3>
        <div class="stock-card__text">
            @text
        </div>
    </div>
</article>