.contacts-tabs {
    &__top {
        display: flex;
        justify-content: center;
        margin-bottom: 35px;
        overflow-x: auto;

        &::-webkit-scrollbar {
            width: 5px;
            height: 3px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $blue-100;
        }
    }

    &__item {
        position: relative;
        padding: 0 120px;

        &::before,
        &::after {
            position: absolute;
            top: 26px;
            width: 100%;
            max-width: 150px;
            height: 3px;
            background-image: url('../img/contacts/line.svg');
            background-repeat: repeat-x;
            background-position: center;
            background-size: contain;
            content: "";
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }
    }

    &__link {
        position: relative;
        display: inline-block;
        padding-top: 70px;
        padding-left: 40px;
        color: $blue-800;
        font-weight: $fw-500;
        font-size: 22px;
        line-height: 1;
        transition: color 0.3s, opacity 0.3s;

        &::before,
        &::after {
            position: absolute;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            content: "";
        }

        &::before {
            bottom: 2px;
            left: 0;
            width: 30px;
            height: 20px;
            background-image: url('../img/contacts/metro.svg');
        }

        &::after {
            top: 0;
            left: 50%;
            width: 60px;
            height: 55px;
            background-image: url('../img/logo-min.svg');
            border: 1px solid transparent;
            transform: translateX(-50%);
            transition: border-color 0.3s;
        }

        &--active,
        &:focus {
            &::after {
                border-color: $purple-800;
            }
        }

        &--active,
        &:hover {
            color: $purple-800;
        }

        &:active {
            opacity: 0.5;
        }
    }

    &__content {
        display: none;

        &--active {
            display: flex;
        }
    }

    &__slider,
    &__slide,
    .contacts-info__map {
        width: 100%;
        height: 300px;
    }

    &__slider {
        max-width: 600px;
    }

    &__slide {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .slick-dots {
        display: none !important;
    }

    &__arrow {
        position: absolute;
        bottom: 0;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 46px;
        height: 45px;
        background-color: $blue-100;
        transform: translateY(50%);
        transition: border-color 0.4s, background-color 0.4s;

        &:focus {
            box-shadow: 0 0 0 1px $blue-800;
        }

        &:hover {
            background-color: $white;

            .contacts-tabs__icon {
                fill: $blue-100;
            }
        }

        &:active {
            box-shadow: 0 0 0 1px $purple-800;
        }

        &--next {
            left: 50%;
            border-left: 0.5px solid $white;
        }

        &--prev {
            right: 50%;
            border-right: 0.5px solid $white;
        }
    }

    &__icon {
        width: 20px;
        height: 25px;
        transition: fill 0.4s;
        fill: $light-100;
    }
}