.doctor-reviews {
    width: 100%;

    &__slider {
        height: 270px;
        text-align: left;
        background-color: $white;
        box-shadow: 6px 5px 16px rgba($blue-100, 0.83);
    }

    &__slide {
        padding: 0 11px;
    }

    &__content {
        display: flex;
        width: 100%;
        padding: 25px 10px 25px 35px;
    }

    &__author {
        position: relative;
        width: 100%;
        max-width: 227px;
        margin-right: 10px;
        padding-left: 50px;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            color: $white;
            font-weight: $fw-500;
            font-size: 28px;
            font-style: normal;
            line-height: 1;
            background-color: $blue-800;
            border-radius: 50%;
            content: "M";
        }
    }

    &__name {
        margin-bottom: 13px;
        font-weight: $fw-500;
        font-style: normal;
    }

    &__text {
        position: relative;
        max-width: 500px;
        height: 230px;
        padding-left: 10px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 3px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $blue-100;
            border-radius: 3px;
        }

        p {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        &::before {
            position: absolute;
            left: 0;
            width: 2px;
            height: 100%;
            background-color: $blue-100;
            content: "";
        }
    }

    &__arrow {
        @include arrow;
        top: initial;
        bottom: 0;

        &--next {
            right: initial;
            left: 136px;
        }

        &--prev {
            left: initial;
            left: 88px
        }

        &:hover {
            background-color: $white;

            .doctor-reviews__icon {
                fill: $blue-100;
            }
        }
    }

    &__icon {
        @include slick-icon;
    }

    .slick-disabled {
        @include slick-disabled;
    }
}
