.filter-services {
    text-align: center;

    &__title {
        margin-bottom: 20px;
    }

    &__link {
        display: flex;
        justify-content: space-between;
        padding: 10px 8px;
        text-align: left;
        @include link;
    }

    &__name {
        width: 100%;
        max-width: 170px;
    }
}