.price-info {
    width: 100%;
    max-width: 940px;
    text-align: center;
}

.price {
    &:not(:last-child) {
        margin-bottom: 35px;
    }

    &__title {
        padding: 10px 0;
        background-color: $blue-100;
    }

    &__items {
        text-align: left;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        padding: 10px 25px;

        &:nth-child(even) {
            background-color: $white;
        }
    }

    &__link {
        display: inline-block;
        max-width: 500px;
        color: $blue-800;
        font-weight: $fw-500;
        font-size: 19px;
        line-height: 1;
        @include link;
        transition: opacity 0.3s, color 0.3s, box-shadow 0.3s;

        &:hover {
            opacity: 0.5;
        }
    }

    &__name {
        max-width: 600px;
        margin-right: 15px;
    }

    &__price {
        font-weight: $fw-500;
    }
}