.service {
    text-align: center;

    &:not(:last-child) {
        margin-bottom: 45px;
    }

    &>*:not(:last-child) {
        margin-bottom: 30px;
    }

    &__title {
        font-size: 30px;
    }
}

.service-descr {
    position: relative;
    padding: 15px;
    text-align: left;
    background-color: $white;

    &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 3px;
        background-color: $blue-100;
        content: "";
    }

    p {
        width: 100%;
        max-width: 800px;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.service-image {
    display: flex;
    justify-content: space-between;

    &--reverse {
        flex-direction: row-reverse;

        .service-image__img {
            margin-right: 0;
        }

        .service-image__content {
            margin-right: 10px;
        }
    }

    &__img {
        width: 100%;
        max-width: 420px;
        height: 260px;
        margin-right: 10px;
        object-fit: cover;
    }

    &__content {
        text-align: center;
    }

    &__items {
        max-width: 500px;
        text-align: left;
    }

    &__item {
        position: relative;
        padding-left: 28px;

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 18px;
            height: 18px;
            background-image: url('../img/icon/rhombus.svg');
            content: "";
            @include background;
        }
    }
}

.service-stages {
    width: 100%;
    max-width: 643px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    &__items {
        text-align: left;
    }

    &__item {
        @include stages;
    }
}

.service-four {
    &__items {
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(444px, 1fr));
        gap: 52px;
        text-align: left;

        &::before,
        &::after {
            position: absolute;
            background-color: $blue-100;
            content: "";
        }

        &::before {
            top: 0;
            bottom: 0;
            left: 50%;
            width: 2px;
            transform: translateX(-50%);
        }

        &::after {
            top: 53%;
            right: 0;
            left: 0;
            height: 2px;
        }
    }

    &__item {
        padding: 15px 20px 20px;
        background-color: $white;
    }

    &__number {
        display: block;
        margin-bottom: 10px;
        color: $blue-100;
        font-weight: $fw-500;
        font-size: 40px;
        line-height: 1;
        text-align: center;
    }

    &__text {
        p {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    &__accent {
        font-weight: $fw-500;
    }
}