.awards {
    @include background;
    position: relative;
    z-index: 1;
    padding-bottom: 139px;
    text-align: center;

    &::before {
        top: 0;
        left: 0;
        background-color: rgba($blue-100, 0.65);
        @include overlay;
    }

    &__items {
        position: relative;
        text-align: left;
    }

    &__item {
        max-width: 100%;
        padding: 0 20px;
    }

    &__link {
        position: relative;
        display: inline-block;
        border: 1px solid transparent;
        transition: border-color 0.3s, opacity 0.3s;

        &::before {
            @include overlay;
            z-index: 0;
            transition: background-color 0.3s;
        }

        &:focus {
            border-color: $purple-800;
        }

        &:hover {
            &::before {
                background-color: rgba($blue-100, 0.65);
            }
        }

        &:active {
            opacity: 0.5;
        }
    }

    &__img {
        width: 100%;
        max-width: 200px;
        height: 280px;
        object-fit: cover;
    }

    .slick-dots {
        @include dots;
        bottom: -45px;
        z-index: 10;
    }

    &__arrow {
        @include arrow;

        &--prev {
            left: -70px;
        }

        &--next {
            right: -70px;
        }

        &:hover {
            background-color: $white;

            .awards__icon {
                fill: $blue-100;
            }
        }
    }

    .slick-disabled {
        @include slick-disabled;
    }

    &__icon {
        @include slick-icon;
    }


}