.technology {
    padding-bottom: 200px;
    text-align: center;

    &__items {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
    }

    &__item {
        position: relative;
        display: flex;
        width: 100%;
        max-width: 598px;

        &--lasers {
            .technology__title {
                &::before {
                    width: 368px;
                    height: 96px;
                    background-image: url('../img/about/technology/lasers-line.svg');
                }
            }
        }

        &--diagnostics {
            .technology__title {
                &::before {
                    width: 440px;
                    height: 2px;
                    background-image: url('../img/about/technology/diagnostics-line.svg');
                }
            }
        }

        &--microscope {
            .technology__title {
                &::before {
                    width: 424px;
                    height: 143px;
                    background-image: url('../img/about/technology/microscope-line.svg');
                }
            }
        }

        &--cameras {
            .technology__title {
                &::before {
                    width: 473px;
                    height: 107px;
                    background-image: url('../img/about/technology/cameras-line.svg');
                }
            }
        }

        &--lasers,
        &--microscope {
            .technology__img {
                border-bottom: 2.5px solid $blue-100;
            }
        }

        &--diagnostics,
        &--cameras {
            .technology__img {
                border-top: 2.5px solid $blue-100;
            }
        }

        &--lasers,
        &--diagnostics {
            .technology__img {
                border-right: 2.5px solid $blue-100;
            }
        }

        &--microscope,
        &--cameras {
            flex-direction: row-reverse;

            .technology__img {
                margin-right: auto;
                margin-left: 0;
                border-left: 2.5px solid $blue-100;
            }

            .technology__content {
                right: 0;
                left: initial;
                margin-right: 0;
            }

            .technology__title {
                &::before {
                    right: 12px;
                    left: initial;
                }
            }
        }
    }

    &__content {
        position: absolute;
        top: -30px;
        left: 0;
        max-width: 300px;
        margin-right: 18px;

        &--diagnostics {
            top: 109px;
        }

        &--cameras {
            top: 44px;
        }
    }

    &__title {
        position: relative;
        margin-bottom: 20px;
        @include small-title;

        &::before {
            position: absolute;
            top: 28px;
            left: 0;
            width: 100%;
            @include background;
            content: "";
        }
    }

    &__text {
        p {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    &__img {
        max-width: 280px;
        height: 300px; 
        margin-left: auto;
        object-fit: cover;
    }
}