<div class="breadcrums">
    <div class="container">
        <ul class="breadcrums__items">
            <li class="breadcrums__item">
                <a class="breadcrums__link" href="#">
                    Главная
                </a>
            </li>
           <li class="breadcrums__item">
               <a class="breadcrums__link" @href>
                   @second
               </a>
           </li>
           @if (context.more === "true") {
            @next
           }
        </ul>
    </div>
</div>