<section class="contacts section">
    <div class="container">
        <h2 class="title">
            Контактная информация
        </h2>
        <ul class="contacts__tabs">
            <li class="contacts__item">

            </li>
        </ul>
        <div class="contacts__content">
            <div class="contacts__chart">
                <iframe class="contacts__map" src="https://yandex.ru/map-widget/v1/-/CCUBJQTS2B" frameborder="1" allowfullscreen="true"></iframe>
                <div class="contacts__info">
                    <dl class="contacts__list">
                        <dt class="contacts__name">
                            Телефон:
                        </dt>
                        <dd class="contacts__descr">
                            <a class="contacts__link" href="tel:+74951111111">
                                +7 (495) 111-11-11
                            </a>
                        </dd>
                        <dt class="contacts__name">
                            Почта:
                        </dt>
                        <dd class="contacts__descr">
                            <a class="contacts__link" href="mailto:beautyDent-1@gmail.com">
                                beautyDent-1@gmail.com
                            </a>
                        </dd>
                        <p class="contacts__name">
                            График работы: Пн-пт: 9:00 - 20:00
                        </p>
                    </dl>
                </div>
            </div>
            <form class="cpntacts__form form">
                <h3 class="form__title subtitle">
                    Обратная связь
                </h3>
                <div class="form__item">
                    <label class="sr-only" for="form__name-name">
                        Введите ваше имя
                    </label>
                    <input class="form__field" type="text" id="form__name-name" name="form__name" required placeholder="Ваше имя">
                </div>
                <div class="form__item">
                    <label class="sr-only" for="form__name-tel">
                        Введите ваш номер телефона
                    </label>
                    <input class="form__field" type="tel" id="form__name-tel" name="form__tel" required placeholder="Ваш номер телефона">
                </div>
                <div class="form__item form__item--message">
                    <label class="sr-only" for="form__name-message">
                        Ваш вопрос
                    </label>
                    <textarea class="form__field form__field--message" id="form__name-message" name="form__message" required placeholder="Ваш номер телефона"></textarea>
                </div>
                <button class="form__btn button button--normal" type="submit">
                    Отправить
                    <svg class="button__icon">
                        <use xlink:href="img/sprite.svg#next-icon">
                    </svg>
                </button>
            </form>
        </div>
    </div>
</section>