<section class="contacts section">
    <div class="container">
        <h2 class="title">
            Контактная информация
        </h2>
        <div class="contacts-tabs">
            <ul class="contacts-tabs__top">
                <li class="contacts-tabs__item">
                    <a class="contacts-tabs__link" href="#contacts-tab1">
                        Динамо
                    </a>
                </li>
                <li class="contacts-tabs__item">
                    <a class="contacts-tabs__link" href="#contacts-tab2">
                        Киевское
                    </a>
                </li>
                <li class="contacts-tabs__item">
                    <a class="contacts-tabs__link" href="#contacts-tab3">
                        Беговая
                    </a>
                </li>
            </ul>
            <ul class="contacts-tabs__bottom">
                <li class="contacts-tabs__content" id="contacts-tab1">
                    <div class="contacts-info">
                        <iframe class="contacts-info__map" src="https://yandex.ru/map-widget/v1/-/CCUBJQTS2B" frameborder="1" allowfullscreen="true"></iframe>
                        <div class="contacts-info__list">
                            <div class="contacts-info__item">
                                Телефон: 
                                <a class="contacts-info__link" href="tel:+74951111111">
                                    +7 (495) 111-11-11
                                </a>
                            </div>
                            <div class="contacts-info__item">
                                Почта: 
                                <a class="contacts-info__link" href="mailto:beautyDent-1@gmail.com">
                                    beautyDent-1@gmail.com
                                </a>
                            </div>
                            <span class="contacts-info__item">
                                График работы: Пн-пт: 9:00 - 20:00
                            </span>
                            <span class="contacts-info__item">
                                Адрес: м. Динамо Ленинградский проспект д. 33А
                            </span>
                        </div>
                    </div>
                    <ul class="contacts-tabs__slider">
                        <li class="contacts-tabs__slide" style="background-image: url('img/contacts/slider/1.jpg')"></li>
                        <li class="contacts-tabs__slide" style="background-image: url('img/contacts/slider/2.jpg')"></li>
                        <li class="contacts-tabs__slide" style="background-image: url('img/contacts/slider/3.jpg')"></li>
                    </ul>
                </li>
                <li class="contacts-tabs__content" id="contacts-tab2">
                    <div class="contacts-info">
                        <iframe class="contacts-info__map" src="https://yandex.ru/map-widget/v1/-/CCUBJQTS2B" frameborder="1" allowfullscreen="true"></iframe>
                        <div class="contacts-info__list">
                            <div class="contacts-info__item">
                                Телефон: 
                                <a class="contacts-info__link" href="tel:+74951111111">
                                    +7 (495) 111-11-11
                                </a>
                            </div>
                            <div class="contacts-info__item">
                                Почта: 
                                <a class="contacts-info__link" href="mailto:beautyDent-1@gmail.com">
                                    beautyDent-1@gmail.com
                                </a>
                            </div>
                            <span class="contacts-info__item">
                                График работы: Пн-пт: 9:00 - 20:00
                            </span>
                            <span class="contacts-info__item">
                                Адрес: м. Динамо Ленинградский проспект д. 33А
                            </span>
                        </div>
                    </div>
                    <ul class="contacts-tabs__slider">
                        <li class="contacts-tabs__slide" style="background-image: url('img/contacts/slider/1.jpg')"></li>
                        <li class="contacts-tabs__slide" style="background-image: url('img/contacts/slider/2.jpg')"></li>
                        <li class="contacts-tabs__slide" style="background-image: url('img/contacts/slider/3.jpg')"></li>
                    </ul>
                </li>
                <li class="contacts-tabs__content" id="contacts-tab3">
                    <div class="contacts-info">
                        <iframe class="contacts-info__map" src="https://yandex.ru/map-widget/v1/-/CCUBJQTS2B" frameborder="1" allowfullscreen="true"></iframe>
                        <div class="contacts-info__list">
                            <div class="contacts-info__item">
                                Телефон: 
                                <a class="contacts-info__link" href="tel:+74951111111">
                                    +7 (495) 111-11-11
                                </a>
                            </div>
                            <div class="contacts-info__item">
                                Почта: 
                                <a class="contacts-info__link" href="mailto:beautyDent-1@gmail.com">
                                    beautyDent-1@gmail.com
                                </a>
                            </div>
                            <span class="contacts-info__item">
                                График работы: Пн-пт: 9:00 - 20:00
                            </span>
                            <span class="contacts-info__item">
                                Адрес: м. Динамо Ленинградский проспект д. 33А
                            </span>
                        </div>
                    </div>
                    <ul class="contacts-tabs__slider">
                        <li class="contacts-tabs__slide" style="background-image: url('img/contacts/slider/1.jpg')"></li>
                        <li class="contacts-tabs__slide" style="background-image: url('img/contacts/slider/2.jpg')"></li>
                        <li class="contacts-tabs__slide" style="background-image: url('img/contacts/slider/3.jpg')"></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="contacts__content">
            <div class="contacts-info contacts-info--main">
                <iframe class="contacts-info__map" src="https://yandex.ru/map-widget/v1/-/CCUBJQTS2B" frameborder="1" allowfullscreen="true"></iframe>
                <div class="contacts-info__list">
                    <div class="contacts-info__item">
                        Телефон: 
                        <a class="contacts-info__link" href="tel:+74951111111">
                            +7 (495) 111-11-11
                        </a>
                    </div>
                    <div class="contacts-info__item">
                        Почта: 
                        <a class="contacts-info__link" href="mailto:beautyDent-1@gmail.com">
                            beautyDent-1@gmail.com
                        </a>
                    </div>
                    <span class="contacts-info__item">
                        График работы: Пн-пт: 9:00 - 20:00
                    </span>
                </div>
            </div>
            <form class="contacts__form form">
                <h3 class="form__title subtitle">
                    Обратная связь
                </h3>
                <div class="form__item">
                    <label class="sr-only" for="form__name-name">
                        Введите ваше имя
                    </label>
                    <input class="form__field" type="text" id="form__name-name" name="form__name" required placeholder="Ваше имя">
                </div>
                <div class="form__item">
                    <label class="sr-only" for="form__name-tel">
                        Введите ваш номер телефона
                    </label>
                    <input class="form__field" type="tel" id="form__name-tel" name="form__tel" required placeholder="Ваш номер телефона">
                </div>
                <div class="form__item form__item--message">
                    <label class="sr-only" for="form__name-message">
                        Ваш вопрос
                    </label>
                    <textarea class="form__field form__field--message" id="form__name-message" name="form__message" required placeholder="Ваш номер телефона"></textarea>
                </div>
                <button class="form__button button button--arrow" type="submit">
                    Отправить
                </button>
            </form>
        </div>
    </div>
</section>