<article class="doctor-card">
    <img class="doctor-card__img" src="img/doctors/@img.jpg" alt="@alt" width="290" height="240" loading="lazy">
    <div class="doctor-card__content">
        <h3 class="doctor-card__title">
            @title
        </h3>
        <p class="doctor-card__speciality">
            @speciality
        </p>
        <a class="doctor-card__link button button--border" href="#">
            Подробнее
        </a>
        <button class="doctor-card__btn button button--normal" type="button">
            Записаться на прием
        </button>
    </div>
</article>