<div class="filter-services">
    <h3 class="filter-services__title subtitle">
        Услуги
    </h3>
    <ul class="filter-services__items">
        <li class="filter-services__item">
            <a class="filter-services__link" href="#">
                <span class="filter-services__name">
                    Диагностика
                </span>
                <span class="filter-services__number">
                    (2)
                </span>
            </a>
        </li>
        <li class="filter-services__item">
            <a class="filter-services__link" href="#">
                <span class="filter-services__name">
                    Отбеливание
                </span>
                <span class="filter-services__number">
                    (2)
                </span>
            </a>
        </li>
        <li class="filter-services__item">
            <a class="filter-services__link" href="#">
                <span class="filter-services__name">
                    Детская стоматология
                </span>
                <span class="filter-services__number">
                    (2)
                </span>
            </a>
        </li>
        <li class="filter-services__item">
            <a class="filter-services__link" href="#">
                <span class="filter-services__name">
                    Лечение
                </span>
                <span class="filter-services__number">
                    (3)
                </span>
            </a>
        </li>
        <li class="filter-services__item">
            <a class="filter-services__link" href="#">
                <span class="filter-services__name">
                    Ортодонтия
                </span>
                <span class="filter-services__number">
                    (2)
                </span>
            </a>
        </li>
        <li class="filter-services__item">
            <a class="filter-services__link" href="#">
                <span class="filter-services__name">
                    Хирургия
                </span>
                <span class="filter-services__number">
                    (3)
                </span>
            </a>
        </li>
        <li class="filter-services__item">
            <a class="filter-services__link" href="#">
                <span class="filter-services__name">
                    Протезирование
                </span>
                <span class="filter-services__number">
                    (2)
                </span>
            </a>
        </li>
        <li class="filter-services__item">
            <a class="filter-services__link" href="#">
                <span class="filter-services__name">
                    Имплантация
                </span>
                <span class="filter-services__number">
                    (2)
                </span>
            </a>
        </li>
    </ul>
</div>