@if (context.search === 'yes') {
<form class="filter-search filters__item" action="#">
    <label class="sr-only" for="filter-search">
        Поиск
    </label>
    <div class="filter-search__content">
        <input class="filter-search__field" type="search" id="filter-search" placeholder="Поиск" name="filter-search" required>
        <button class="filter-search__btn" type="submit">
            <span class="sr-only">
                Найти
            </span>
        </button>
    </div>
</form>
}

@if (context.clinics === 'yes') {
<div class="filter-clinics filters__item">
    <h3 class="filter-clinics__title subtitle">
        Клиники
    </h3>
    <ul class="filter-clinics__items">
        <li class="filter-clinics__item">
            <a class="filter-clinics__link" href="#">
                м. Динамо Ленинградский проспект д. 33А
            </a>
        </li>
        <li class="filter-clinics__item">
            <a class="filter-clinics__link" href="#">
                м. Беговая Хорошевское шоссе, 22
            </a>
        </li>
        <li class="filter-clinics__item">
            <a class="filter-clinics__link" href="#">
                м. Киевская, Украинский бул., д. 6
            </a>
        </li>
        <li class="filter-clinics__item">
            <a class="filter-clinics__link" href="#">
                м. Марьино ул. Люблинская, д.161
            </a>
        </li>
    </ul>
</div>
}

@if (context.services === 'yes') {
<div class="filter-services filters__item">
    <h3 class="filter-services__title subtitle">
        Услуги
    </h3>
    <ul class="filter-services__items">
        <li class="filter-services__item">
            <a class="filter-services__link" href="#">
                <span class="filter-services__name">
                    Диагностика
                </span>
                <span class="filter-services__number">
                    (2)
                </span>
            </a>
        </li>
        <li class="filter-services__item">
            <a class="filter-services__link" href="#">
                <span class="filter-services__name">
                    Отбеливание
                </span>
                <span class="filter-services__number">
                    (2)
                </span>
            </a>
        </li>
        <li class="filter-services__item">
            <a class="filter-services__link" href="#">
                <span class="filter-services__name">
                    Детская стоматология
                </span>
                <span class="filter-services__number">
                    (2)
                </span>
            </a>
        </li>
        <li class="filter-services__item">
            <a class="filter-services__link" href="#">
                <span class="filter-services__name">
                    Лечение
                </span>
                <span class="filter-services__number">
                    (3)
                </span>
            </a>
        </li>
        <li class="filter-services__item">
            <a class="filter-services__link" href="#">
                <span class="filter-services__name">
                    Ортодонтия
                </span>
                <span class="filter-services__number">
                    (2)
                </span>
            </a>
        </li>
        <li class="filter-services__item">
            <a class="filter-services__link" href="#">
                <span class="filter-services__name">
                    Хирургия
                </span>
                <span class="filter-services__number">
                    (3)
                </span>
            </a>
        </li>
        <li class="filter-services__item">
            <a class="filter-services__link" href="#">
                <span class="filter-services__name">
                    Протезирование
                </span>
                <span class="filter-services__number">
                    (2)
                </span>
            </a>
        </li>
        <li class="filter-services__item">
            <a class="filter-services__link" href="#">
                <span class="filter-services__name">
                    Имплантация
                </span>
                <span class="filter-services__number">
                    (2)
                </span>
            </a>
        </li>
    </ul>
</div>
}

@if (context.form === 'yes') {
<div class="filter-form filters__item">
    <h3 class="filter-form__title subtitle">
        Записаться
    </h3>
    <div class="filter-form__bg" style="background-image: url('img/form-bg.jpg')"></div>
    <form class="filter-form__form form" action="#">
        <div class="form__item">
            <label class="sr-only" for="filter-form__name">
                Введите ваше имя
            </label>
            <input class="filter-form__field form__field" type="text" id="filter-form__name" placeholder="Ваше имя*" required>
        </div>
        <div class="form__item">
            <label class="sr-only" for="filter-form__tel">
                Введите ваш номер телефона
            </label>
            <input class="filter-form__field form__field" type="tel" id="filter-form__tel" placeholder="Ваш номер телефона *" required>
        </div>
        <button class="filter-form__btn" type="submit">
            Записаться на прием
        </button>
    </form>
</div>
}