<div class="filter-clinics filters__item">
    <h3 class="filter-clinics__title subtitle">
        Клиники
    </h3>
    <ul class="filter-clinics__items">
        <li class="filter-clinics__item">
            <a class="filter-clinics__link" href="#">
                м. Динамо Ленинградский проспект д. 33А
            </a>
        </li>
        <li class="filter-clinics__item">
            <a class="filter-clinics__link" href="#">
                м. Беговая Хорошевское шоссе, 22
            </a>
        </li>
        <li class="filter-clinics__item">
            <a class="filter-clinics__link" href="#">
                м. Киевская, Украинский бул., д. 6
            </a>
        </li>
        <li class="filter-clinics__item">
            <a class="filter-clinics__link" href="#">
                м. Марьино ул. Люблинская, д.161
            </a>
        </li>
    </ul>
</div>