<header class="header">
    <div class="container">
        <div class="header__info">
            <a class="header__logo logo" href="#">
                <img class="logo__img" href="#" src="img/logo.svg" alt="логотип" width="224" height="45">
            </a>
            <address class="header__inner">
                <ul class="header__items">
                    <li class="header__item">
                        <a class="header__address" href="#">
                            м. Динамо
                            Ленинградский проспект д. 33А
                        </a>
                        <a class="header__phone" href="tel:+74951111111">
                            +7 (495) 111-11-11
                        </a>
                    </li>
                    <li class="header__item">
                        <a class="header__address" href="#">
                            м. Беговая
                            Хорошевское шоссе, 22
                        </a>
                        <a class="header__phone" href="tel:+74951111112">
                            +7 (495) 111-11-12
                        </a>
                    </li>
                    <li class="header__item">
                        <a class="header__address" href="#">
                            м. Марьино
                            ул. Люблинская, д.161
                        </a>
                        <a class="header__phone" href="tel:+74951111113">
                            +7 (495) 111-11-13
                        </a>
                    </li>
                    <li class="header__item">
                        <a class="header__address" href="#">
                            м. Новогиреево шоссе Энтузиастов, д.51
                        </a>
                        <a class="header__phone" href="tel:+74951111114">
                            +7 (495) 111-11-14
                        </a>
                    </li>
                </ul>
            </address>
            <div class="header__contacts">
                <div class="header__text">
                    <span class="header__name">
                        Единый номер:
                    </span>
                    <a class="header__link" href="tel:+74951111115">
                        +7 (495) 111-11-15
                    </a>
                </div>
                <div class="header__text">
                    <span class="header__name">
                        Почта:
                    </span>
                    <a class="header__link" href="mailto:beautyDent-1@gmail.com">
                        beautyDent-1@gmail.com
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__navigation">
        <div class="container">
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Главная
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            О нас
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Услуги
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Цены
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Наши врачи
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Скидки
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Рассрочка
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>