.stages-registration {
    text-align: center;
    background-color: $white;

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__content {
        width: 100%;
        max-width: 643px;
        margin-right: 15px;
    }

    &__items {
        text-align: left;
    }

    &__item {
        @include stages;
    }

    &__bg {
        width: 100%;
        height: 434px;
        @include background;
    }
}