.main__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}

.doctors-filters {
    max-width: 210px;
    margin-right: 20px;
}

.doctors {
    text-align: center;

    &__items {
        display: grid;
        grid-gap: 35px;
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
        width: 100%;
        max-width: 941px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        box-shadow: 6px 5px 16px rgba($blue-100, 0.83);
    }
}