.services {
    text-align: center;

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(279px, 1fr));
        gap: 28px;
        text-align: left;
    }

    &__item {
        display: flex;
        justify-content: space-between;
    }
}